.link_position{
    display: flex;
    justify-content: center;
}
.products{
    display: flex;
    flex-wrap: wrap;
    max-width: 1000px;
    margin: 0 auto;
}
.product_position{
    margin: 20px;
    padding: 25px;
    border: 1px solid black;
    position: relative;
    max-width: 200px;
}
.btn_delete{
    position: absolute;
    top: 10px;
    right: 15px;
}
.product_name{
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    margin: 0;
}
.product_price{
    text-align: center;
    font-size: 25px;
    margin: 0;
}
.product_article{
    text-align: center;
    font-size: 30px;
    margin: 0;
}
.product_img{
    width: 120px;
    display: block;
    margin: 0 auto;
}
.product_color{
    text-align: center;
    font-size: 30px;
    padding: 35px 0;
    margin: 0;
}
.propsBtn{
    width: 120px;
    height: 30px;
    border-radius: 30px;
    background: content-box;
    position: absolute;
    left: 25%;
}
.favorite{
    color: yellow;
}
.header_nav{
    display: flex;
    justify-content: center;
}
.header_link{
    margin: 0 25px;
    text-decoration: none;
    color: black;
    font-size: 24px;
    border-bottom: 1px solid black;
}
.header_li{
    list-style: none;
}
